<div id="SquareSlide" class="carousel slide" data-ride="carousel" data-interval="2000">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block" src="./../../../../assets/img/2Slide1.jpg" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block" src="./../../../../assets/img/2Slide2.jpg" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block" src="./../../../../assets/img/2Slide3.jpg" alt="Third slide">
    </div>
    <div class="carousel-item">
      <img class="d-block" src="./../../../../assets/img/2Slide4.jpg" alt="Fourth slide">
    </div>
    <div class="carousel-item">
      <img class="d-block" src="./../../../../assets/img/2Slide5.jpg" alt="Fifth slide">
    </div>
  </div>

  <div class="row">
    <div class="texto">
      <div class="nuestros"></div>
      <h1>NUESTROS SOCIOS MÁS COOL</h1>
      <h2>#</h2>
      <h3>CHRISTINA SUN COOL MEMBERS</h3>
      <div class="linea"></div>
      <div class="linea2"></div>
      <div class="linea3"></div>
    </div>
  </div>

</div>

<div class="BGPink"></div>
<div class="BGGray"></div>
