<div class="row">
  <div class="col-12">
    <h1>CONTACTO</h1>
    <div class="linea1"></div>
    <div class="linea2"></div>
  </div>
</div>

<div class="mapa text-center mt-5">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d24322.199392619135!2d-3.6911310000000004!3d40.358428!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x32b4441cfea454e0!2sParque%20Forestal%20Julio%20Alguacil%20G%C3%B3mez!5e0!3m2!1ses!2sus!4v1589848671255!5m2!1ses!2sus"
    width="950" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
    tabindex="0"></iframe>
</div>

<div class="row">
  <div class="col-12 mt-5">
    <h2>
      ¿Tienes alguna duda?
    </h2>
  </div>
</div>

<div class="row mt-5">

  <div class="col-6 datosInput">
    <input class="mt-1" type="text" placeholder="  Nombre">
    <input class="mt-1" type="text" placeholder="  Teléfono">
    <input class="mt-1" type="text" placeholder="  Email">
  </div>
  <div class="col-6 mensaje">
    <input class="mt-1" type="text" placeholder="  Escribe tu mensaje aquí...">
    <div class="enviar mt-1 text-center">
      <span>Enviar</span>
    </div>
  </div>

</div>

<div class="row">
  <div class="col-6 mt-5">
    <div class="datos">
      <div class="servicio">
        <h3>
          SERVICIO AL CONSUMIDOR
        </h3>
        <div class="linea mt-4"></div>
        <p class="mt-4">info@misitio.com
            <br>
          1-800-000-000
        </p>
        <p class="mb-5">
          Puedes hacer tu compra online
          o dirigirte a nuestra tienda
          ubicada en:
          <br>
          Av. Los Rosales 122,
          28021, Madrid.
        </p>
      </div>

      <div class="horario">
        <h3>
          HORARIO DE ATENCIÓN
        </h3>
        <div class="linea mt-4"></div>
        <p class="mt-4">
          Lunes- Viernes: 11.00 - 18.00
          Sábado: 11.00 - 17.00
          Domingo: 12.30 - 16.30
        </p>
      </div>
    </div>
  </div>
</div>
