h1 {
  position: relative;
  font-family: Anton;
  width: 25%;
  font-size: 60px;
  letter-spacing: 10px;
  line-height: 50px;
  left: 15%;
  top: 30%;
  z-index: 2;
}

.linea1 {
  position: relative;
  background: #E0D4D1;
  width: 440px;
  height: 143px;
  z-index: 1;
  left: 12%;
  top: -10%;
}
.linea2 {
  position: relative;
  background: #BEB5B4;
  width: 48px;
  height: 9px;
  z-index: 1;
  left: 15%;
  top: 3%;
}

.nosotros {
  display: flex;
  margin-bottom: 250px;
}

img {
  z-index: 1;
  top: 100px;
}

.nosotros img:nth-child(1) {
  position: absolute;
  bottom: 70px;
  right: 35%;
  top: 80px;
}

.nosotros img:nth-child(2) {
  position: relative;
  right: 40%;
}

.texto {
  position: relative;
  z-index: 2;
  top: 100px;
}

h2 {
  position: relative;
  width: 49%;
  font-family: Anton;
  font-size: 45px;
  letter-spacing: 10px;
  line-height: 40px;
  top: 70px;
  left: 250px;
}

p {
  position: relative;
  font-family: CenturyGothic;
  font-size: 16px;
  width: 48.5%;
  top: 150px;
  left: 250px;
}
