<div class="row">
  <div class="col-12">
      <h1>SOBRE NOSOTROS</h1>
      <div class="linea1"></div>
      <div class="linea2"></div>
  </div>
</div>

<div class="nosotros">

  <div class="row texto">
    <div class="col-12">
      <h2>
        CHRISTINA SUN ES UNA TIENDA PARA AMANTES DE ANTEOJOS
      </h2>
      <div class="linea"></div>
      <p>
        Este es un buen espacio para extenderte sobre tu compañía y servicios. Puedes usar este espacio para incorporar
        más
        detalles sobre tu empresa. Escribe sobre tu personal y los servicios que ofreces. Cuéntales a los visitantes la
        historia sobre cómo se te ocurrió la idea de tu negocio y diles qué te diferencia de tus competidores. Haz que
        tu
        empresa se destaque y muestra a tus visitantes quién eres. Consejo: Agrega tu propia imagen haciendo clic en la
        imagen y luego en Cambiar Imagen.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
        <img src="./../../../../assets/img/VisionBack.jpg" alt="">
        <img src="./../../../../assets/img/Nosotros.jpg" alt="">
    </div>
  </div>


</div>
