<header>
    <nav>

        <div class="row">
            <div class="col-12">
                <ul class="NavBar">

                    <li>LOGO</li>
                    <li>HOME</li>
                    <li>PRODUCTOS</li>
                    <li>CONTACTO</li>
                    <li>SOBRE NOSOTROS</li>
                    <li>OFERTAS</li>
                    <li>
                        <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                    </li>

                </ul>
            </div>
        </div>

    </nav>
</header>