<header>
    <nav class="fixed-top">

        <div class="row">
            <div class="col-12">
                <ul class="NavBar">

                    <li>LOGO</li>
                    <li routerLink="home">HOME</li>
                    <li>PRODUCTOS
                        <ul>
                            <li routerLink="el">ÉL</li>
                            <li routerLink="ella">ELLA</li>
                            <li routerLink="bebe">BEBÉ</li>
                            <li routerLink="ninos">NIÑOS</li>
                            <li routerLink="zapateria">ZAPATERÍA</li>
                        </ul>
                    </li>
                    <li routerLink="contacto">CONTACTO</li>
                    <li routerLink="nosotros">SOBRE NOSOTROS</li>
                    <li routerLink="ofertas">OFERTAS</li>
                    <li>
                        <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                    </li>

                </ul>
            </div>
        </div>

    </nav>
</header>

<div class="linea"></div>