@import url(//db.onlinewebfonts.com/c/0d4bd6300a54d19c5fc62fe7e07c48cb?family=Anton);
@import url(//db.onlinewebfonts.com/c/1bc63305a1c0194a52fbbd76c1143710?family=CenturyGothic);

* {
  margin: 0;
  padding: 0;
}

body{
  overflow-x: hidden;
}