<div class="footer">

  <div class="firstFooter">

    <div class="direccion">
      <h3>DIRECCIÓN</h3>
      <div class="linea"></div>
      <p>
        Av.Los Rosales 122
        28021. Madrid.
      </p>
    </div>

    <div class="socio">
      <h3>HAZTE SOCIO</h3>
      <div class="linea"></div>
      <input type="text" placeholder="  Ingresa tu email aqui*">
      <div class="unirse">
        <p>Unirse</p>
      </div>
    </div>

    <div class="social">
      <h3>SOCIAL</h3>
      <div class="linea"></div>
      <div class="iconos">
        <i class="fa fa-facebook" aria-hidden="true"></i>
        <i class="fa fa-twitter" aria-hidden="true"></i>
        <i class="fa fa-instagram" aria-hidden="true"></i>
      </div>
    </div>

  </div>

  <div class="secondFooter">

    <div class="envio">
      <div class="icon">
        <i class="fa fa-amazon" aria-hidden="true"></i>
      </div>

      <p>
        ENVÍO INMEDIATO
      </p>
    </div>

    <div class="copy">
      <span>
        &copy; 2023 by Christina Sun. Orgullosamente creado con Wix.com
      </span>
    </div>

  </div>
</div>
